*{
    font-family: sans-serif;

    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    background-color: lightgray;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: rgb(12, 12, 12);

    padding: 15px;
}
.header h1{
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    min-height: 100vh;

    background-color: white;

    border-radius: 6px;
    box-shadow: 8px 8px 12px rgb(163, 162, 162);

    padding: 10px;
    margin-top: 10px;
}
.container h1 {
    font-size: 30px;
    color: black;

    margin-top: 30px;
    margin-bottom: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 50%;

    box-shadow: 5px 5px 10px tomato;

    padding: 30px;
    margin-bottom: 20px;
}
.card h2{
    border-bottom: 3px solid tomato;

    margin-bottom: 15px;
}
.card p{
    margin-bottom: 3px;
}